# Data aggreation for future visualization

Load data.

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('/Users/maximepeschard/Downloads/full_database.csv')

In [38]:
df.shape

(1281195, 13)

In [42]:
df.head()

,Race,Date,Distance,Name,Sex,Year,LivingPlace,Rank,Time,Delay,Pace,len_name,idx
0,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abächerli Walter,M,1952,Hinwil,47,"4:31.56,1","0:53.5,3","0:6.26,0",2,0
1,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abbringh Ellen,F,1962,NL-Doorn 3941 EB,91,"5:55.9,4","2:12.11,6","0:8.25,0",2,1
2,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abegglen Eddy,M,1954,Mürren,424,"5:45.21,9","2:20.33,8","0:8.11,0",2,2
3,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.328675,Abosa Emebet,F,1974,Zuoz,1,"3:21.46,1",False,"0:4.46,0",2,3
4,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abplanalp Michel,M,1960,Auvernier,143,"4:30.26,9","1:7.35,3","0:6.24,0",2,4

In [44]:
df.loc[6000]

Race           Jungfrau-Marathon, Interlaken
Date                         sam. 11.09.2004
Distance                              42.195
Name                   Tomantschger Gerhard
Sex                                        M
Year                                    1949
LivingPlace                          Bönigen
Rank                                      39
Time                               4:54.46,1
Delay                               1:3.13,7
Pace                                0:6.59,0
len_name                                   2
idx                                     6000
Name: 6000, dtype: object

Set hieriarchical index to export to JSON.

In [48]:
df['idx'] = range(df.shape[0])
hieriarchical_df = df[:100].set_index(['Race', 'Date', 'idx'])
hieriarchical_df.head()

                                                    Distance  \
Race                          Date            idx
Jungfrau-Marathon, Interlaken sam. 06.09.2003 0    42.195000
                                              1    42.195000
                                              2    42.195000
                                              3    42.328675
                                              4    42.195000

                                                                Name Sex  \
Race                          Date            idx
Jungfrau-Marathon, Interlaken sam. 06.09.2003 0    Abächerli Walter    M
                                              1      Abbringh Ellen    F
                                              2       Abegglen Eddy    M
                                              3        Abosa Emebet    F
                                              4    Abplanalp Michel    M

                                                   Year        LivingPlace  \
Race                          Date            idx
Jungfrau-Marathon, Interlaken sam. 06.09.2003 0    1952             Hinwil
                                              1    1962   NL-Doorn 3941 EB
                                              2    1954             Mürren
                                              3    1974               Zuoz
                                              4    1960          Auvernier

                                                   Rank       Time      Delay  \
Race                          Date            idx
Jungfrau-Marathon, Interlaken sam. 06.09.2003 0      47  4:31.56,1   0:53.5,3
                                              1      91   5:55.9,4  2:12.11,6
                                              2     424  5:45.21,9  2:20.33,8
                                              3       1  3:21.46,1      False
                                              4     143  4:30.26,9   1:7.35,3

                                                       Pace  len_name
Race                          Date            idx
Jungfrau-Marathon, Interlaken sam. 06.09.2003 0    0:6.26,0         2
                                              1    0:8.25,0         2
                                              2    0:8.11,0         2
                                              3    0:4.46,0         2
                                              4    0:6.24,0         2

In [49]:
hieriarchical_df.shape

(100, 10)

Export to JSON.

In [50]:
hieriarchical_df.to_json('races-aggregation.json', orient='index')