# Data aggregation for runners data visualization
**Warning:** We make the assumption that two persons that have the same name (first name and family name) and the same birth year is a unique person.

## Load data

In [1]:
import numpy as np
import pandas as pd
import json
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_context('notebook')

In [2]:
# It's a bit long but you can load a remote CSV file from its URL !!! :fire:
#raw_df = pd.read_csv('https://www.dropbox.com/s/tt9z5bik6uqndbz/full_database.csv?dl=1')
raw_df = pd.read_csv('/home/ondine/Desktop/ADA/full_database.csv')

In [3]:
raw_df.head()

,Race,Date,Distance,Name,Sex,Year,LivingPlace,Rank,Time,Delay,Pace,len_name
0,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abächerli Walter,M,1952,Hinwil,47,"4:31.56,1","0:53.5,3","0:6.26,0",2
1,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abbringh Ellen,F,1962,NL-Doorn 3941 EB,91,"5:55.9,4","2:12.11,6","0:8.25,0",2
2,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abegglen Eddy,M,1954,Mürren,424,"5:45.21,9","2:20.33,8","0:8.11,0",2
3,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.328675,Abosa Emebet,F,1974,Zuoz,1,"3:21.46,1",False,"0:4.46,0",2
4,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abplanalp Michel,M,1960,Auvernier,143,"4:30.26,9","1:7.35,3","0:6.24,0",2

In [4]:
# Small hotfix for 'weird' dates
raw_df.Date = raw_df.Date.apply(lambda d: d.replace('+', '').replace('bis', ''))

### Extra info

In [5]:
races_info = pd.read_csv('../datasets/races-information.csv',index_col=0).drop('url', axis=1)
races_info.head()

,date,name,location,min_temp,max_temp,uv_index,weather_desc,latitude,longitude,weekday,day,month,year
0,sam. 27.03.1999,Männedörfler Waldlauf,Männedorf,NaN,NaN,NaN,NaN,47.2574625,8.6946733,saturday,27,3,1999
1,sam. 20.03.1999,Kerzerslauf,Kerzers,NaN,NaN,NaN,NaN,46.97488999999999,7.1954365,saturday,20,3,1999
2,sam. 24.04.1999,Luzerner Stadtlauf,Luzern,NaN,NaN,NaN,NaN,47.05016819999999,8.3093072,saturday,24,4,1999
3,sam. 24.04.1999,20km de Lausanne,Lausanne,NaN,NaN,NaN,NaN,46.5196535,6.6322734,saturday,24,4,1999
4,sam. 24.04.1999,"Chäsitzerlouf, Kehrsatz",Kehrsatz,NaN,NaN,NaN,NaN,NaN,NaN,saturday,24,4,1999

In [6]:
df = pd.merge(raw_df, races_info, how='left', left_on=['Race','Date'], right_on=['name','date']).drop(['date','name'],axis=1)
print(df.shape)
df.columns

(1281195, 23)

Index(['Race', 'Date', 'Distance', 'Name', 'Sex', 'Year', 'LivingPlace',
       'Rank', 'Time', 'Delay', 'Pace', 'len_name', 'location', 'min_temp',
       'max_temp', 'uv_index', 'weather_desc', 'latitude', 'longitude',
       'weekday', 'day', 'month', 'year'],
      dtype='object')

In [7]:
df.head()

,Race,Date,Distance,Name,Sex,Year,LivingPlace,Rank,Time,Delay,...,min_temp,max_temp,uv_index,weather_desc,latitude,longitude,weekday,day,month,year
0,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abächerli Walter,M,1952,Hinwil,47,"4:31.56,1","0:53.5,3",...,NaN,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0
1,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abbringh Ellen,F,1962,NL-Doorn 3941 EB,91,"5:55.9,4","2:12.11,6",...,NaN,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0
2,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abegglen Eddy,M,1954,Mürren,424,"5:45.21,9","2:20.33,8",...,NaN,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0
3,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.328675,Abosa Emebet,F,1974,Zuoz,1,"3:21.46,1",False,...,NaN,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0
4,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42.195000,Abplanalp Michel,M,1960,Auvernier,143,"4:30.26,9","1:7.35,3",...,NaN,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0

### Processing - cleaning

In [8]:
df.latitude = df.latitude.apply(float)
df.longitude = df.longitude.apply(float)
df.Distance = df.Distance.apply(round)

In [9]:
def clean_name(x):
    return x.replace("/"," ").replace("\\"," ")

df.Race = df.Race.apply(clean_name)

In [10]:
def time_to_seconds(x):
    # Get hours
    split = x.split(':')
    hours = int(split[0])
    # Get minutes
    split = split[1].split('.')
    minutes = int(split[0])
    # Get seconds
    split = split[1].split(',')
    seconds = int(split[0])
    return hours*3600 + minutes*60 + seconds

def seconds_to_time(x):
    minutes, seconds = divmod(x, 60)
    hours, minutes = divmod(minutes, 60)
    return '{}:{}:{}'.format(hours, minutes, seconds)

In [11]:
df['time'] = df.Time.apply(time_to_seconds)

In [12]:
doubleindex_df = df.set_index(['Name','Year'])
doubleindex_df.index.is_unique

False

In [13]:
doubleindex_df.head()

,,Race,Date,Distance,Sex,LivingPlace,Rank,Time,Delay,Pace,len_name,...,max_temp,uv_index,weather_desc,latitude,longitude,weekday,day,month,year,time
Name,Year,,,,,,,,,,,,,,,,,,,,,
Abächerli Walter,1952,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42,M,Hinwil,47,"4:31.56,1","0:53.5,3","0:6.26,0",2,...,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0,16316
Abbringh Ellen,1962,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42,F,NL-Doorn 3941 EB,91,"5:55.9,4","2:12.11,6","0:8.25,0",2,...,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0,21309
Abegglen Eddy,1954,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42,M,Mürren,424,"5:45.21,9","2:20.33,8","0:8.11,0",2,...,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0,20721
Abosa Emebet,1974,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42,F,Zuoz,1,"3:21.46,1",False,"0:4.46,0",2,...,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0,12106
Abplanalp Michel,1960,"Jungfrau-Marathon, Interlaken",sam. 06.09.2003,42,M,Auvernier,143,"4:30.26,9","1:7.35,3","0:6.24,0",2,...,NaN,NaN,NaN,NaN,NaN,saturday,6.0,9.0,2003.0,16226

In [14]:
doubleindex_df.columns

Index(['Race', 'Date', 'Distance', 'Sex', 'LivingPlace', 'Rank', 'Time',
       'Delay', 'Pace', 'len_name', 'location', 'min_temp', 'max_temp',
       'uv_index', 'weather_desc', 'latitude', 'longitude', 'weekday', 'day',
       'month', 'year', 'time'],
      dtype='object')

In [15]:
df.columns

Index(['Race', 'Date', 'Distance', 'Name', 'Sex', 'Year', 'LivingPlace',
       'Rank', 'Time', 'Delay', 'Pace', 'len_name', 'location', 'min_temp',
       'max_temp', 'uv_index', 'weather_desc', 'latitude', 'longitude',
       'weekday', 'day', 'month', 'year', 'time'],
      dtype='object')

## Detailed aggregation by race

Steps :
* Build an out_dict which contains (hierarchically) the data for all runner, for all race. At the same time, build another dictionary that maps full names to their 'encodings' (used for JSON file names).

```
out_dict = {
    encoded_name_1 : {
        'name': Name,
        'birth': Year,
        'sex': Sex,
        'races': {
            'race_1': {
                'race': Race,
                'location': location,
                'latitude': latitude,
                'longitude': longitude,
                'date': {'date_1': {
                            'weekday': weekday,
                            'startday', day,
                            'month': month,
                            'year': year,
                            'livingplace': LivingPlace,
                            'categories': {
                                'category_1': {
                                    'distance': Distance, 
                                    'day' : {
                                        'day_1': {
                                            'rank': Rank, 
                                            'time': Time, 
                                            'delay': Delay, 
                                            'pace': Pace
                                         },
                                         ...    # 'day_2', etc.
                                       }
                                    },
                                ...             # 'category_2', etc.
                                }
                          },
                          ...                   # 'date_2', etc.
                },
            }, 
            ...                                 # 'race_2', etc.
        }, 
    ...                                         # 'encoded_name_2', et.
}

names_dict = {
    encoded_name_1 : name_1,
    encoded_name_2 : name_2,
    ...
}
```

* Export names_dict to a JSON file.
* For each race name encoded_name, export out_dict[encoded_name] to a JSON file.

In [16]:
###### HELPERS ######
week_dict = {
    'lun': 'monday',
    'mar': 'tuesday',
    'mer': 'wednesday',
    'jeu': 'thursday',
    'ven': 'friday',
    'sam': 'saturday',
    'dim': 'sunday'
}

def fill_date(dataframe, dictionary):
    weekday = dataframe.weekday.unique()[0]
    day = dataframe.day.unique()[0]
    month = dataframe.day.unique()[0]
    year = dataframe.year.unique()[0]
    if pd.isnull(weekday) or pd.isnull(day) or pd.isnull(month) or pd.isnull(year):
        # compute
        dictionary['weekday'] = dataframe.Date.apply(lambda x: week_dict[x.split('.')[0].strip()]).unique()[0]
        dictionary['startday'] = int(dataframe.Date.apply(lambda x: int(x.split('.')[1].strip())).unique()[0])
        dictionary['month'] = int(dataframe.Date.apply(lambda x: int(x.split('.')[2].strip())).unique()[0])
        dictionary['year'] = int(dataframe.Date.apply(lambda x: int(x.split('.')[3].strip())).unique()[0])
    else:
        dictionary['weekday'] = weekday
        dictionary['startday'] = int(day)
        dictionary['month'] = int(month)
        dictionary['year'] = int(year)

In [ ]:
### ITERATION OVER RUNNERS
names_dict = {}
out_dict = {}

i = 0
i_max = doubleindex_df.index.unique().shape[0]

for (runner,birth) in doubleindex_df.index.unique():
    i = i+1
    sub_df_temp = df[df.Name == runner].copy()
    sub_df = sub_df_temp[sub_df_temp.Year == birth].copy()
    runner_dict = {}
    runner_dict['name'] = runner
    runner_dict['birth'] = birth
    runner_dict['sex'] = sub_df.Sex.unique()[0]
    race_wrapper = {}
    
    for race in sub_df.Race.unique():
        race_dict = {}
        race_dict['race'] = race
        race_dict['location'] = sub_df.location.unique()[0]
        race_dict['latitude'] = sub_df.latitude.unique()[0]
        race_dict['longitude'] = sub_df.longitude.unique()[0]
        subsub_df = sub_df[sub_df.Race == race].copy()
        date_wrapper = {}
        
        for date in subsub_df.Date.unique():
            subsubsub_df = subsub_df[subsub_df.Date == date].copy()
            date_dict = {}
            # Note that for some dates, we don't already have this info and have to compute it
            fill_date(subsub_df, date_dict)
            # TODO: weather !
            # TODO: total number of runners !
            date_dict['livingplace'] = subsub_df.LivingPlace.unique()[0]
            cat_wrapper = {}
            
            for category in subsubsub_df.Distance.unique():
                lastsub_df = subsubsub_df[subsubsub_df.Distance == category].copy()
                cat_dict = {}
                cat_dict['distance'] = subsubsub_df.Distance.unique()[0]
                day_wrapper = {}
                day_nb = 0
                
                for time in lastsub_df.Time.unique():
                    day_nb = day_nb + 1
                    lastlastsub_df = lastsub_df[lastsub_df.Time == time].copy()
                    day_dict = {}
                    day_dict['rank'] = lastsub_df.Rank.unique()[-1]
                    day_dict['time'] = lastsub_df.Time.unique()[-1]
                    day_dict['delay'] = lastsub_df.Delay.unique()[-1]
                    day_dict['pace'] = lastsub_df.Pace.unique()[-1]
                    day_wrapper[str(day_nb)] = day_dict                    
                    
                    if lastlastsub_df.shape[0] != 1:
                        print('Two runners have the same name, same birth year and run in the same race,',\
                              'the same distance, the same day.')
                        print(lastlastsub_df)
                        print()
                        print()
                        break
                    
                cat_dict['day'] = day_wrapper
                cat_wrapper[category] = cat_dict
                        
            date_dict['category'] = cat_wrapper
            date_wrapper[date] = date_dict
            
        race_dict['date'] = date_wrapper
        race_wrapper[race] = race_dict
        
    runner_dict['races'] = race_wrapper
    runner_id = runner+' '+str(birth)
    encoded_name = re.sub('[^0-9a-zA-Z]+', '', runner_id.lower())
    names_dict[encoded_name] = runner_id
    out_dict[encoded_name] = runner_dict
    
    if i%100 == 0:
        print(i,'runners out of',i_max,'have been analysed.')
        print()
        print()
print('All done.')

100 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
735757  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
735758  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                     Name Sex  Year       LivingPlace  Rank       Time  \
735757  Baldini Giovanni    M  1964   IT-Viterbo (VT)   146  5:31.29,5
735758  Baldini Giovanni    M  1964   IT-Viterbo (VT)   589  5:31.29,5

            Delay  ...   max_temp  uv_index weather_desc  latitude  longitude  \
735757  1:52.41,3  ...       21.0       0.0        Clear       NaN        NaN
735758   2:5.34,8  ...       21.0       0.0        Clear       NaN        NaN

         weekday  day  month    year   time
735757  saturday  8.0    9.0  2012.0  19889
735758  saturday  8.0    9.0  2012.0  19889

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
735848  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
735849  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                 Name Sex  Year     LivingPlace  Rank       Time      Delay  \
735848  Baumer Peter    M  1958   Ostermundigen   117  5:14.16,4  1:35.28,2
735849  Baumer Peter    M  1958   Ostermundigen   361  5:14.16,4  1:37.14,2

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
735848  ...       21.0       0.0        Clear       NaN        NaN  saturday
735849  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
735848  8.0    9.0  2012.0  18856
735849  8.0    9.0  2012.0  18856

[2 rows x 24 columns]


200 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
736004  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
736005  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                   Name Sex  Year       LivingPlace  Rank       Time  \
736004  Beutler Martin    M  1963   Goldiwil (Thun)    71  4:51.11,4
736005  Beutler Martin    M  1963   Goldiwil (Thun)    28  4:51.11,4

            Delay  ...   max_temp  uv_index weather_desc  latitude  longitude  \
736004  1:12.23,2  ...       21.0       0.0        Clear       NaN        NaN
736005  0:43.50,3  ...       21.0       0.0        Clear       NaN        NaN

         weekday  day  month    year   time
736004  saturday  8.0    9.0  2012.0  17471
736005  saturday  8.0    9.0  2012.0  17471

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
736078  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
736079  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                  Name Sex  Year LivingPlace  Rank       Time     Delay  \
736078  Blaser Roland    M  1958   Unterseen    53  4:39.52,1   1:1.3,9
736079  Blaser Roland    M  1958   Unterseen   127  4:39.52,1  1:2.49,9

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
736078  ...       21.0       0.0        Clear       NaN        NaN  saturday
736079  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
736078  8.0    9.0  2012.0  16792
736079  8.0    9.0  2012.0  16792

[2 rows x 24 columns]


300 runners out of 463331 have been analysed.


400 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
736686  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
736687  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                          Name Sex  Year LivingPlace  Rank       Time  \
736686  Dellsperger Christoph    M  1956        Worb    68  4:48.23,7
736687  Dellsperger Christoph    M  1956        Worb    54  4:48.23,7

           Delay  ...   max_temp  uv_index weather_desc  latitude  longitude  \
736686  1:9.35,5  ...       21.0       0.0        Clear       NaN        NaN
736687  1:0.19,5  ...       21.0       0.0        Clear       NaN        NaN

         weekday  day  month    year   time
736686  saturday  8.0    9.0  2012.0  17303
736687  saturday  8.0    9.0  2012.0  17303

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
736707  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
736708  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                   Name Sex  Year LivingPlace  Rank       Time      Delay  \
736707  Dettwiler Andy    M  1962      Lauwil   233  6:19.31,4  2:40.43,2
736708  Dettwiler Andy    M  1962      Lauwil   749  6:19.31,4  2:42.29,2

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
736707  ...       21.0       0.0        Clear       NaN        NaN  saturday
736708  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
736707  8.0    9.0  2012.0  22771
736708  8.0    9.0  2012.0  22771

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance         Name  \
736761  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42  Dörig Hans
736762  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42  Dörig Hans

       Sex  Year LivingPlace  Rank       Time      Delay  ...   max_temp  \
736761   M  1945      Illnau   235  6:22.34,2  2:43.46,0  ...       21.0
736762   M  1945      Illnau    77  6:22.34,2   2:3.46,5  ...       21.0

        uv_index weather_desc  latitude  longitude   weekday  day  month  \
736761       0.0        Clear       NaN        NaN  saturday  8.0    9.0
736762       0.0        Clear       NaN        NaN  saturday  8.0    9.0

          year   time
736761  2012.0  22954
736762  2012.0  22954

[2 rows x 24 columns]


500 runners out of 463331 have been analysed.


600 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737171  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737172  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                   Name Sex  Year LivingPlace  Rank      Time      Delay  \
737171  Frixe Eberhard    M  1950    DE-Meine   214  6:4.51,7   2:26.3,5
737172  Frixe Eberhard    M  1950    DE-Meine   147  6:4.51,7  2:10.22,8

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737171  ...       21.0       0.0        Clear       NaN        NaN  saturday
737172  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737171  8.0    9.0  2012.0  21891
737172  8.0    9.0  2012.0  21891

[2 rows x 24 columns]


700 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737321  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737322  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                    Name Sex  Year LivingPlace  Rank       Time      Delay  \
737321  Gentile Daniele    M  1965   Schlieren    27  4:24.57,8   0:46.9,6
737322  Gentile Daniele    M  1965   Schlieren    10  4:24.57,8  0:17.36,7

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737321  ...       21.0       0.0        Clear       NaN        NaN  saturday
737322  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737321  8.0    9.0  2012.0  15897
737322  8.0    9.0  2012.0  15897

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737353  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737354  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                   Name Sex  Year  LivingPlace  Rank       Time      Delay  \
737353  Gertsch Marcel    M  1978   Interlaken    12  4:10.46,0  0:31.57,8
737354  Gertsch Marcel    M  1978   Interlaken   156  4:10.46,0   1:11.3,8

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737353  ...       21.0       0.0        Clear       NaN        NaN  saturday
737354  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737353  8.0    9.0  2012.0  15046
737354  8.0    9.0  2012.0  15046

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737375  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737376  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                     Name Sex  Year   LivingPlace  Rank       Time      Delay  \
737375  Giacometti Mario    M  1949   Gsteigwiler   142  5:29.28,8  1:50.40,6
737376  Giacometti Mario    M  1949   Gsteigwiler    78  5:29.28,8  1:34.59,9

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737375  ...       21.0       0.0        Clear       NaN        NaN  saturday
737376  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737375  8.0    9.0  2012.0  19768
737376  8.0    9.0  2012.0  19768

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737395  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737396  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                      Name Sex  Year  LivingPlace  Rank       Time      Delay  \
737395  Gillespie Patrick    M  1968   GB-Suffolk    89  4:58.21,8  1:19.33,6
737396  Gillespie Patrick    M  1968   GB-Suffolk    21  4:58.21,8  0:45.14,0

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737395  ...       21.0       0.0        Clear       NaN        NaN  saturday
737396  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737395  8.0    9.0  2012.0  17901
737396  8.0    9.0  2012.0  17901

[2 rows x 24 columns]


800 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737458  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737459  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                  Name Sex  Year   LivingPlace  Rank      Time      Delay  \
737458  Good Ralph E.    M  1962   Stechelberg   125  5:17.0,7  1:38.12,5
737459  Good Ralph E.    M  1962   Stechelberg   382  5:17.0,7  1:39.58,5

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737458  ...       21.0       0.0        Clear       NaN        NaN  saturday
737459  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737458  8.0    9.0  2012.0  19020
737459  8.0    9.0  2012.0  19020

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance         Name  \
737503  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42  Graf Jonas
737504  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42  Graf Jonas

       Sex  Year             LivingPlace  Rank       Time      Delay  ...    \
737503   M  1965   Bönigen b. Interlaken   148  5:32.33,6  1:53.45,4  ...
737504   M  1965   Bönigen b. Interlaken   602  5:32.33,6   2:6.38,9  ...

       max_temp  uv_index weather_desc  latitude  longitude   weekday  day  \
737503     21.0       0.0        Clear       NaN        NaN  saturday  8.0
737504     21.0       0.0        Clear       NaN        NaN  saturday  8.0

        month    year   time
737503    9.0  2012.0  19953
737504    9.0  2012.0  19953

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737550  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737551  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                 Name Sex  Year     LivingPlace  Rank     Time      Delay  \
737550  Gröer Thomas    M  1970   DE-Burghausen   101  5:5.4,8  1:26.16,6
737551  Gröer Thomas    M  1970   DE-Burghausen    26  5:5.4,8  0:51.57,0

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737550  ...       21.0       0.0        Clear       NaN        NaN  saturday
737551  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737550  8.0    9.0  2012.0  18304
737551  8.0    9.0  2012.0  18304

[2 rows x 24 columns]


900 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737752  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737753  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                   Name Sex  Year LivingPlace  Rank       Time      Delay  \
737752  Hartwig Rainer    M  1972      Meggen   221  6:11.45,0  2:32.56,8
737753  Hartwig Rainer    M  1972      Meggen   750  6:11.45,0  2:56.48,9

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
737752  ...       21.0       0.0        Clear       NaN        NaN  saturday
737753  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
737752  8.0    9.0  2012.0  22305
737753  8.0    9.0  2012.0  22305

[2 rows x 24 columns]


1000 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
737838  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
737839  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                    Name Sex  Year     LivingPlace  Rank       Time  \
737838  Heinrich Gregor    M  1973   DE-Münstertal   140  5:28.34,7
737839  Heinrich Gregor    M  1973   DE-Münstertal   832  5:28.34,7

            Delay  ...   max_temp  uv_index weather_desc  latitude  longitude  \
737838  1:49.46,5  ...       21.0       0.0        Clear       NaN        NaN
737839  2:28.52,5  ...       21.0       0.0        Clear       NaN        NaN

         weekday  day  month    year   time
737838  saturday  8.0    9.0  2012.0  19714
737839  saturday  8.0    9.0  2012.0  19714

[2 rows x 24 columns]


1100 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
738186  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
738187  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                   Name Sex  Year   LivingPlace  Rank       Time      Delay  \
738186  Iwens Wilfried    M  1955   BE-Mechelen   181  5:46.46,1   2:7.57,9
738187  Iwens Wilfried    M  1955   BE-Mechelen   265  5:46.46,1  1:58.41,9

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
738186  ...       21.0       0.0        Clear       NaN        NaN  saturday
738187  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
738186  8.0    9.0  2012.0  20806
738187  8.0    9.0  2012.0  20806

[2 rows x 24 columns]


1200 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
738465  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
738466  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                 Name Sex  Year  LivingPlace  Rank       Time      Delay  \
738465  Kilian Klaus    M  1958   DE-Rosbach   150  5:33.12,1  1:54.23,9
738466  Kilian Klaus    M  1958   DE-Rosbach   495  5:33.12,1   1:56.9,9

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
738465  ...       21.0       0.0        Clear       NaN        NaN  saturday
738466  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
738465  8.0    9.0  2012.0  19992
738466  8.0    9.0  2012.0  19992

[2 rows x 24 columns]


1300 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance         Name  \
738519  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42  Klink Ralf
738520  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42  Klink Ralf

       Sex  Year    LivingPlace  Rank       Time      Delay  ...   max_temp  \
738519   M  1965   DE-Riedstadt   166  5:38.44,3  1:59.56,1  ...       21.0
738520   M  1965   DE-Riedstadt   645  5:38.44,3  2:12.49,6  ...       21.0

        uv_index weather_desc  latitude  longitude   weekday  day  month  \
738519       0.0        Clear       NaN        NaN  saturday  8.0    9.0
738520       0.0        Clear       NaN        NaN  saturday  8.0    9.0

          year   time
738519  2012.0  20324
738520  2012.0  20324

[2 rows x 24 columns]


1400 runners out of 463331 have been analysed.


1500 runners out of 463331 have been analysed.


1600 runners out of 463331 have been analysed.


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
739152  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
739153  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42

                 Name Sex  Year LivingPlace  Rank       Time      Delay  \
739152  Marti Thomas    M  1959     Diegten   116  5:13.42,4  1:34.54,2
739153  Marti Thomas    M  1959     Diegten   356  5:13.42,4  1:36.40,2

        ...   max_temp  uv_index weather_desc  latitude  longitude   weekday  \
739152  ...       21.0       0.0        Clear       NaN        NaN  saturday
739153  ...       21.0       0.0        Clear       NaN        NaN  saturday

        day  month    year   time
739152  8.0    9.0  2012.0  18822
739153  8.0    9.0  2012.0  18822

[2 rows x 24 columns]


Two runners have the same name, same birth year and run in the same race, the same distance, the same day.
                                 Race             Date  Distance  \
739233  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
739234  Jungfrau-Marathon, Interlaken  sam. 08.09.2012        42
